<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- Footer -->
  <div class="page-footer">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook"></i>facebook
            <!-- <img src="../../assets/imgs/authentic meat app/footer_img/facebook.png" alt="facebook" width="60px" height="60px" class="rounded-circle"> -->
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter"></i>Twitter
            <!-- <img src="../../assets/imgs/authentic meat app/footer_img/twitter.png" alt="facebook" width="60px" height="60px" class="rounded-circle"> -->
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g"></i>Google
            <!-- <img src="../../assets/imgs/authentic meat app/footer_img/Google_plus_circle_icon.png" alt="facebook" width="60px" height="60px" class="rounded-circle"> -->
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin"></i>linkedin
            <!-- <img src="../../assets/imgs/authentic meat app/footer_img/likedin.png" alt="facebook" width="60px" height="60px" class="rounded-circle"> -->
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram"></i>Instagram
            <!-- <img src="../../assets/imgs/authentic meat app/footer_img/Instagram_icon.png" alt="facebook" width="60px" height="60px" class="rounded-circle"> -->
          </a>
          <!-- pinterest -->
          <a class="pin-ic">
            <i class="fab fa-pinterest"></i>pinterest
            <!-- <img src="../../assets/imgs/authentic meat app/footer_img/printstest.png" alt="facebook" width="60px" height="60px" class="rounded-circle">  -->
          </a>
          <!-- app stores -->
          <a class="ios-ic">
            <i class="fab fa-app-store-ios"></i>app store
          </a>
          <!-- play stores -->
          <a class="play-ic">
            <i class="fas fa-play"></i>play store
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <div class="div-row">
      <div class="col-md-12">
        <div class="box">
          <h4>find</h4>
          <ul class="lists">
            <li><i class="fa fa-location-arrow"></i> 9878/25 sec 9 robin 35</li>
            <li><i class="fa fa-phone"></i>  +91-9999878398</li>
            <li><i class="fa fa fa-envelope"></i> info@example.com</li>
          </ul>
        </div>
        <!--end of box-->

        <div class="box">
          <h4>info</h4>
          <ul class="lists">
            <li>About us</li>
            <li>terms and conditions</li>
            <li>more...</li>
            </ul>
        </div>
        <!--end of box-->
      </div>
    </div>
  </div>

  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a>terms and conditions </a>
  </div>
  <!-- Copyright -->
  <!-- Footer -->

</body>

</html>
