<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="card-deck">
      <div class="card" style="width:400px">
        <div class="card-head">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/chicken and mutton/109d1c57-f798-4785-b6a0-bf97c2af0e8e.jpg" alt="Card image">
        </div>
        <div class="card-body">
          <h4 class="card-title">boneless and skinless chicken</h4>
          <p class="card-text">Net Weight: Chicken Curry Cut (480-500 g) + Boneless Cubes (480-500 g)</p>
          <span>MRP:₹380/1kg</span>
          <div class="card-footer">
            <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
          </div>
        </div>
      </div>
      <div class="card" style="width:400px">
        <div class="card-head">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/chicken and mutton/621a31d9-ec91-4ae1-bc21-2303b324dc06.jpg" alt="Card image">
        </div>
        <div class="card-body">
          <h4 class="card-title">Chicken Curry Cut - Skin off + Mutton curry cut</h4>
          <p class="card-text">Net Weight: Chicken (480-500 g) + Mutton (460-480 g)</p>
          <span>MRP:₹449</span>
          <div class="card-footer">
            <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
          </div>
        </div>
      </div>
      <div class="card" style="width:400px">
        <div class="card-head">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/chicken and mutton/f7ef193b-cf01-41c1-8d49-0a727003168c.jpg" alt="Card image">
        </div>
        <div class="card-body">
          <h4 class="card-title">Mutton Curry Cut  + Chicken Drumstick (4pieces)</h4>
          <p class="card-text">Net Weight: Mutton(460-480 g) + Drumstick ( 4 pieces)</p>
          <span>MRP:₹469</span>
          <div class="card-footer">
            <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>
