<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="card-deck">
      <div class="card" style="width:400px">
        <div class="card-head">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/mutton/small pieces.jpeg" alt="Card image">
        </div>
        <div class="card-body">
          <h4 class="card-title">Goat curry small pieces</h4>
          <p class="card-text">Relish bite-sized cuts of protein-rich goat meat on the bone from the pieces</p>
          <span>MRP:255/kg</span>
          <div class="card-footer">
            <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
          </div>
        </div>
      </div>
      <div class="card" style="width:400px">
        <div class="card-head">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/mutton/large.jpeg" alt="Card image">
        </div>
        <div class="card-body">
          <h4 class="card-title">Goat curry large pieces</h4>
          <p class="card-text">Relish bite-sized cuts of protein-rich goat meat on the bone from the ribs</p>
          <span>MRP:355/kg</span>
          <div class="card-footer">
            <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
          </div>
        </div>
      </div>
      <div class="card" style="width:400px">
        <div class="card-head">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/mutton/keema.jpeg" alt="Card image">
        </div>
        <div class="card-body">
          <h4 class="card-title">Keema</h4>
          <p class="card-text">Relish bite-sized cuts of protein-rich goat meat on the bone from the keema</p>
          <span>MRP:260/kg</span>
          <div class="card-footer">
            <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</body>
</html>