<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center text-dark mt-5">Login here</h2>
        <div class="card my-5">

          <form class="card-body cardbody-color p-lg-5">

            <div class="text-center">
              <img src="./assets/imgs/authentic meat app/logo/meat-1.jpg" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                width="200px" alt="profile">
            </div>

            <div class="mb-3">
              <input type="text" class="form-control" id="Username" aria-describedby="emailHelp"
                placeholder="User Name">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" id="password" placeholder="password">
            </div>
            <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Login</button></div>
            <div id="emailHelp" class="form-text text-center mb-5 text-dark">Not
              Registered? <a href="#" class="text-dark fw-bold"> Create an
                Account</a>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <!-- <div class="container">
    <div class="card" style="width:400px">
      <div class="div-body">
        <form #ref="ngForm">
          username          
          <div class="form-group">
            <label for="un">Username</label>
            <input type="text" name="username" id="un" ngModel class="formcontrol" required #ref1="ngModel">
          </div>
           violation of username 
          <div *ngIf="ref1.touched&&ref1.invalid" class="alert alert-danger">
            *Username is required
          </div>

         password 
          <div class="form-group">
            <label for="pw">Password</label>
            <input type="text" name="password" id="pw" ngModel class="formcontrol" required pattern="\d[abc]\d.*"
              #ref2="ngModel">
          </div>


          violation of password

          <div *ngIf="ref2.invalid && (ref2.dirty || ref2.touched)" class="alert alert-danger">
            <div *ngIf="ref2.errors?.['required']">
              password is required.
            </div>
            <div *ngIf="ref2.errors?.['pattern']">
              Pattern is not match
            </div>
          </div>
          <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember"> Remember me
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div> -->
</body>

</html>
