<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="card-deck">
      <div class="card" style="width:400px">
        <div class="card-head">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/eggs and masals/8f50db8c-d984-4706-94cc-f5ab3a2ffe5c.jpg" alt="Card image">
        </div>
        <div class="card-body">
          <h4 class="card-title">Combo Easy Chettinad Chicken Mix (50g) + Easy Chicken 65 Mix (50g)</h4>
          <p class="card-text">Make super delicious Restaurant style chicken delicacies in minutes with our range of exotic chicken and fish masalas</p>
          <span>MRP:₹30</span>
          <div class="card-footer">
            <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
          </div>
        </div>
      </div>
      <div class="card" style="width:400px">
        <div class="card-head">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/eggs and masals/c0a9e2ad-0bb7-4c11-afad-f980c06d09f7.jpg" alt="Card image">
        </div>
        <div class="card-body">
          <h4 class="card-title">Chicken Curry Cut - Skin Off (500 g) + White Eggs (12 Eggs)</h4>
          <p class="card-text">Here's nutrition made easy. Bring home your protein pack with our Chicken Curry Cut 500 gm and White Eggs combo.</p>
          <span>MRP:₹179</span>
          <div class="card-footer">
            <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
          </div>
        </div>
      </div>
      <div class="card" style="width:400px">
        <div class="card-head">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/eggs and masals/f877cf25-6525-4492-b0e2-c792b77e0490.jpg" alt="Card image">
        </div>
        <div class="card-body">
          <h4 class="card-title">Combo Easy Chicken 65 Mix (50g) + Easy Marina fish Roast Mix (50g)</h4>
          <p class="card-text">Make super delicious Restaurant style chicken delicacies in minutes with our range of exotic chicken and fish masalas</p>
          <span>MRP:₹30</span>
          <div class="card-footer">
            <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>
