<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="card-deck">
      <div class="card" style="width:400px">
        <div class="card-head">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/eggs/white eggs.jpeg" alt="Card image">
        </div>
        <div class="card-body">
          <h4 class="card-title">white Eggs</h4>
          <p class="card-text">Egg whites are the clear, thick liquid that surrounds the bright yellow yolk of an egg</p>
          <span>MRP:60RS/12-pieces</span>
          <div class="card-footer">
            <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
          </div>
        </div>
      </div>
      <div class="card" style="width:400px">
        <div class="card-head">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/eggs/brown eggs.jpeg" alt="Card image">
        </div>
        <div class="card-body">
          <h4 class="card-title">Brown Eggs</h4>
          <p class="card-text">this are container brown eggs</p>
          <span>MRP:155RS/12-Pieces</span>
          <div class="card-footer">
            <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
          </div>
        </div>
      </div>
      <div class="card" style="width:400px">
        <div class="card-head">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/eggs/duck.jpeg" alt="Card image">
        </div>
        <div class="card-body">
          <h4 class="card-title">Duck Eggs</h4>
          <p class="card-text">Consists of duck eggs</p>
          <span>MRP:135RS/6-Pieces</span>
          <div class="card-footer">
            <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>