<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="card-deck">
      
        <div class="card" style="width:400px">
          <div class="card-head">
            <img class="card-img-top" src="./assets/imgs/authentic meat app/chicken/drumstick.jpg" alt="Card image">
          </div>
          <div class="card-body">
            <h4 class="card-title">Drumstick:</h4>
            <p class="card-text">The bottom portion of the leg below the knee joint. Consists of all dark meat</p>
            <span>MRP:145/kg</span>
            <div class="card-footer">
              <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
            </div>
          </div>
        </div>
        <div class="card" style="width:400px">
          <div class="card-head">
            <img class="card-img-top" src="./assets/imgs/authentic meat app/chicken/wolchicken.jpeg" alt="Card image">
          </div>
          <div class="card-body">
            <h4 class="card-title">Whole Chicken</h4>
            <p class="card-text">The chicken with all parts intact, generally including the giblets stuffed in the cavity.
              Consists of white and dark meat.</p>
            <span>MRP:255/kg</span>
            <div class="card-footer">
              <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
            </div>
          </div>
        </div>
        <div class="card" style="width:400px">
          <div class="card-head">
            <img class="card-img-top" src="./assets/imgs/authentic meat app/chicken/liver.jpeg" alt="Card image">
          </div>
          <div class="card-body">
            <h4 class="card-title">Liver</h4>
            <p class="card-text">Consists of the neck, liver, heart, and gizzard.</p>
            <span>MRP:110/kg</span>
            <div class="card-footer">
              <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
   
</body>
</html>