<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="card-deck">
      <div class="card" style="width:400px">
        <div class="card-head">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/fish and seafood/Combo-10.jpg" alt="Card image">
        </div>
        <div class="card-body">
          <h4 class="card-title">Chicken Supreme Cut And Surmai Steak</h4>
          <p class="card-text">Chicken Supreme Cut(900g)  And Surmai Steak(450g)</p>
          <span>MRP:₹750</span>
          <div class="card-footer">
            <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
          </div>
        </div>
      </div>
      <div class="card" style="width:400px">
        <div class="card-head">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/fish and seafood/Combo-13.jpg" alt="Card image">
        </div>
        <div class="card-body">
          <h4 class="card-title">Surmai Steak And Medium Prawns</h4>
          <p class="card-text">Surmai Steak(450g)And Medium Prawns(450g)</p>
          <span>MRP:₹900</span>
          <div class="card-footer">
            <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
          </div>
        </div>
      </div>
      <div class="card" style="width:400px">
        <div class="card-head">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/fish and seafood/Combo-6.jpg" alt="Card image">
        </div>
        <div class="card-body">
          <h4 class="card-title">Black And White Pomfret</h4>
          <p class="card-text">Black(280-300g) And White Pomfret(150-180g)</p>
          <span>MRP:₹600</span>
          <div class="card-footer">
            <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>
