<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   <!-- carousel -->
 <div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators  -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow  -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/imgs/authentic meat app/slideshow/19e7bb9f-b3a5-4cbf-8c4b-f0ea435882b8.jpg" alt="chicken">
    </div>
    <div class="carousel-item">
      <img src="./assets/imgs/authentic meat app/slideshow/39062474-3d69-40a7-b8aa-6ad05009aace.jpg" alt="mutton">
    </div>
    <div class="carousel-item">
      <img src="./assets/imgs/authentic meat app/slideshow/buy-fresh-seafood-online-banner-1.jpg" alt="Seafood">
    </div>
    <div class="carousel-item">
      <img src="./assets/imgs/authentic meat app/slideshow/d0656ee4-6dd0-45c3-8d1b-35d46723496c.jpg" alt="eggs">
    </div>
    <div class="carousel-item">
      <img src="./assets/imgs/authentic meat app/slideshow/f84a5df2-78c4-4612-821f-3af8300a843e.jpg" alt="combos">
    </div>
  </div>

  <!-- Left and right controls  -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div class="container">
  <div class="class-1">
    <h3>Shop by category</h3>
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/chicken/breasthalf.jpeg" alt="Card image">
          <h5>chicken</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/mutton/large.jpeg" alt="Card image">
          <h5>mutton</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/fish/rohu.jpeg" alt="Card image">
          <h5>fish</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/fish/bomday duck fish.jpeg" alt="Card image">
          <h5>seafood</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/eggs/brown eggs.jpeg" alt="Card image">
          <h5>eggs</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/chicken and mutton/109d1c57-f798-4785-b6a0-bf97c2af0e8e.jpg" alt="Card image">
          <h5>combos</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/eggs and masals/8f50db8c-d984-4706-94cc-f5ab3a2ffe5c.jpg" alt="Card image">
          <h5>extract</h5>
        </div>
      </div>
    </div>
  </div>

  <!-- today's special -->
  <div class="class-2">
   <h3>Today's special</h3>
    <div class="card-deck">
      <div class="card" >
        <div class="card-head">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/chicken/drumstick.jpg" alt="Card image" >
         <div class="card-body">
           <p>chicken drumstick's</p>
         </div>
         <div class="card-footer">
          <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
         </div>
        </div>

      </div>
      <div class="card" >
        <div class="card-body">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/mutton/keema.jpeg" alt="Card image">
        </div>
        <div class="card-body">
         <p> mutton-keema</p>
       </div>
       <div class="card-footer">
        <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
       </div>
      </div>
      <div class="card" >
        <div class="card-body">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/fish/silver belly.jpeg" alt="Card image">
        </div>
        <div class="card-body">
         <p>appolo fish</p>
       </div>
       <div class="card-footer">
        <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
       </div>
      </div>
      <div class="card" >
       <div class="card-body">
         <img class="card-img-top" src="./assets/imgs/authentic meat app/chicken and mutton/621a31d9-ec91-4ae1-bc21-2303b324dc06.jpg" alt="Card image">
       </div>
       <div class="card-body">
        <p>combos</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
      </div>
     </div>
     <div class="card" >
       <div class="card-body">
         <img class="card-img-top" src="./assets/imgs/authentic meat app/eggs and masals/8f50db8c-d984-4706-94cc-f5ab3a2ffe5c.jpg" alt="Card image">
       </div>
       <div class="card-body">
        <p>masalas</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
      </div>
     </div>
    </div>
  </div>
</div>

</body>
</html>