<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="card-deck">
      <div class="card" style="width:400px">
        <div class="card-head">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/fish/rohu.jpeg" alt="Card image">
        </div>
        <div class="card-body">
          <h4 class="card-title">Rohu Large</h4>
          <p class="card-text">A fillet is the meat cut from the sides of the fish. There are three types of fillets:
            whole, v-cut and j-cut with the latter two being the most popula</p>
          <span>MRP:145/kg</span>
          <div class="card-footer">
            <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
          </div>
        </div>
      </div>
      <div class="card" style="width:400px">
        <div class="card-head">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/fish/silver belly-2.jpeg" alt="Card image">
        </div>
        <div class="card-body">
          <h4 class="card-title">Silver Belly Fish</h4>
          <p class="card-text">A fillet is the meat cut from the sides of the fish. There are three types of fillets: whole, v-cut and j-cut with the latter two being the most popula</p>
          <span>MRP:255/kg</span>
          <div class="card-footer">
            <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
          </div>
        </div>
      </div>
      <div class="card" style="width:400px">
        <div class="card-head">
          <img class="card-img-top" src="./assets/imgs/authentic meat app/fish/bomday duck fish.jpeg"
            alt="Card image">
        </div>
        <div class="card-body">
          <h4 class="card-title">Bomday Duck Fish</h4>
          <p class="card-text">A fillet is the meat cut from the sides of the fish. There are three types of fillets: whole, v-cut and j-cut with the latter two being the most popula</p>
          <span>MRP:110/kg</span>
          <div class="card-footer">
            <button type="button" class="btn btn-primary btn-block">Add-to-Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>